<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.gtpush">

    <application>

        <!-- ========== -->
        <!-- 个推推送配置 -->
        <!-- ========== -->

        <meta-data
            android:name="PUSH_APPID"
            android:value="dv4h55Dms46v0jizx59lHA" />

        <service
            android:exported="true"
            android:label="PushService"
            android:name="dev.gtpush.GTPushService"
            android:process=":pushservice" />

        <service
            android:name="dev.gtpush.GTPushIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>
</manifest>